apiVersion: v1
kind: Secret
metadata:
  name: wb-orders-secret
  namespace: wb-orders
type: Opaque
stringData:
  DATABASE_URL: postgres://REPLACE_USER:REPLACE_PASSWORD@postgres.example:5432/wb_orders?sslmode=require

